.head-tools{
    display: flex;
    justify-content: space-between;
    align-items: center;

    mat-form-field{
        flex-direction: inherit !important;
        // width: 100%;
        width: 70%;

        button{
            mat-icon{
                color: #49454F;
            }
        }
    }

} 

button{
    height: 48px;
    width: 185px;

    span{
        display: flex;
        align-items: center;
        mat-icon{
            margin-left: 12px;
        }
    }
}

.highlight {
    background-color: rgba(255, 235, 247, 1);
    color: #7D127B !important;
}