<header class="main-header">
    <!-- Logo -->
    <a class="logo" style="height: 92px;">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <!-- logo for regular state and mobile devices -->
        <!-- <span class="logo-mini">
            <b>Q</b>ualitas</span>
        
        <span class="logo-lg">
            <img src="" height="45">
        </span> -->
    </a>
    
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <div class="d-flex col-sm-6 align-items-center">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
    
            <img src="../../../assets/logos/logo_qualitas_header.svg" alt="" class="pl-5">
        </div>
        <div class="d-flex col-sm-6 justify-content-end">
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- <li class="dropdown notifications-menu">
                        <a [routerLink]="['/metricas']" class="dropdown">
                            <i class="fa fa-pie-chart" aria-hidden="true"></i>
                            <span class="label label-success">Inicio</span>
                        </a>
                    </li> -->
                    <!-- <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs">{{ nombre }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
    
                                <p>
                                    Bienvenido Sr(a) {{ nombre }}
                                    <small>{{ fecha }}</small>
                                </p>
                            </li>
    
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a (click)="cerrarSesion()" class="btn btn-default btn-flat">Cerrar Sesión</a>
                                </div>
                            </li>
                        </ul>
                    </li> -->
    
                </ul>
            </div>
        </div>
    </nav>
</header>