<header class="main-header">
    <!-- Logo -->
    <a class="logo" style="height: 92px;">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <!-- logo for regular state and mobile devices -->
        <!-- <span class="logo-mini">
            <b>Q</b>ualitas</span>
        
        <span class="logo-lg">
            <img src="" height="45">
        </span> -->
    </a>
    
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <div class="d-flex col-sm-6 align-items-center">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
    
            <img src="../../../assets/logos/logo_qualitas_header.svg" alt="" class="pl-5">
        </div>
        <div class="d-flex col-sm-6 justify-content-end">
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <span class="g-font--16 g-font--bold" style="color: #9A3295;">{{nombre}}</span>
                    </li>
                    <li>
                        <span class="g-font--14 g-font--bold" style="color: #6C7579;">[ {{rol}} ]</span>
                    </li>
                    <li>
                        <span class="g-font--14 g-font--bold" style="color: #26292B;">{{fecha}}</span>
                    </li>
    
                </ul>
                <div class="mx-auto g-mr--15">
                    <div class="g-circle--purple3 g-box--shadow2 d-flex align-items-center justify-content-center mx-auto mx-lg-0">
                      <span class="g-font--15 g-font--bold" style="color: white;">{{avatar}}</span>
                    </div>
                  </div>
            </div>
        </div>
    </nav>
</header>