<header class="main-header">
    <!-- Logo -->
    <a class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
            <b>O</b>NP</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
            <img src="./assets/img/onp-logo.png" width="110" height="45">
        </span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown notifications-menu">
                    <a [routerLink]="['/metricas']" class="dropdown">
                        <i class="fa fa-pie-chart" aria-hidden="true"></i>
                        <span class="label label-success">Inicio</span>
                    </a>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- <img src="../../assets/img/avatar.png" class="user-image" alt="User Image"> -->
                        <span class="hidden-xs">{{ nombre }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <!-- <img src="../../assets/img/avatar.png" class="img-circle" alt="User Image"> -->

                            <p>
                                Bienvenido Sr(a) {{ nombre }}
                                <small>{{ fecha }}</small>
                            </p>
                        </li>

                        <li class="user-footer">
                            <div class="pull-right">
                                <a (click)="cerrarSesion()" class="btn btn-default btn-flat">Cerrar Sesión</a>
                            </div>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
</header>